body {
  background-color: #2d3038;
  font-family: 'roboto';
  font-weight: 100; }

.transition {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

#content-wrapper {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.transparent {
  opacity: 0; }

#forecast-wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center; }
  #forecast-wrapper .temp {
    font-size: 140px;
    line-height: 500px;
    position: relative;
    cursor: pointer; }
    #forecast-wrapper .temp .tempsymb {
      font-size: 70px !important;
      line-height: 70px !important;
      display: inline;
      position: absolute;
      top: 25px;
      right: -30px; }

.humidity {
  position: absolute;
  width: 500px;
  display: block;
  bottom: 70px;
  font-size: 20px;
  margin: 0 auto;
  color: #00D9D9; }
