.weather {
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;

  &__wrapper {
    height: $width-large;
    display: table-cell;
    vertical-align: middle;
  }

  &__container {
    height: $width-large;
    width: $width-large;
    margin: 0 auto;
    position: relative;
  }
}

@media (max-width: $breakpoint) {
  .weather {
    &__wrapper {
      height: $width-small;
    }

    &__container {
      height: $width-small;
      width: $width-small;
    }
  }
}
